@using ReservaSalaReuniones.Web.ModelView.BreadCrums
@{
    ViewData["BreadCrums"] = new BreadCrums(new BreadCrum("Inicio", "Index", "Index"), new BreadCrum("Acceso denegado"));
    ViewData["Title"] = "Acceso denegado!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Back"] = "1";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">403</h2>

        <div class="error-content">
            <h3>
                <i class="fas fa-lock text-danger"></i>
                Acceso denegado!
            </h3>
            <p>
                Usted no cuenta con los permisos necesarios para ver esta página.
                Por favor contacte con el administrador.
                Mientras tanto, puede regresar a <a href="@Url.Action("Index","Index")">la página principal</a>.
            </p>
        </div>
    </div>
    <!-- /.error-page -->
</section>